## Palabras

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [7]:
# tu codigo aquí
upper_word=[]
for word in words:
    upper_word.append(word.upper())

upper_word

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Crea una nueva lista que contenga 5 o más letras**

In [ ]:
# tu codigo aquí
lista=['A','c','K','d','z','O']

**Imprime la primera palabra que empiece por 't'**

In [23]:
# tu codigo aquí

for word in words:
    word=word.lower()
    if word[0]=='t':
        print(word)
        break

theatre

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [29]:
# tu codigo aquí
lista2=[]
for i in range(1,11):
    lista2.append(i**2)
lista2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [33]:
# tu codigo aquí
lista_impar=[]
for i in range(0,101):
    if i%2!=0:
        lista_impar.append(i**2)
lista_impar

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401,
 2601,
 2809,
 3025,
 3249,
 3481,
 3721,
 3969,
 4225,
 4489,
 4761,
 5041,
 5329,
 5625,
 5929,
 6241,
 6561,
 6889,
 7225,
 7569,
 7921,
 8281,
 8649,
 9025,
 9409,
 9801]

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [55]:
lista_8_1=[]
a=1
while a<=(1000//8-1):
    lista_8_1.append((a*8)**2)
    a+=1
lista_8_1
print(len(lista_8_1))

124

In [59]:
# tu codigo aquí
lista_8=[]
a=1
while a<=(1000//8-1):
    lista_8.append((a*8)**2)
    a+=1
lista_8
#print(len(lista_8_1))

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [63]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [66]:
# your code here

print(len(people))

5

**Cuanta gente tiene hijos**?

In [94]:
### your code here
contador=0
for person in people:
    if person['n_kids']!=0:
        contador+=1
contador

4

**Cuantos hijos tienen en total?**

In [96]:
# your code here
hijos=0

for person in people:
    hijos=hijos+person['n_kids']

print(hijos)

10

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [98]:
# your code here

for person in people:
    if person['name'][-1]=='a':
        person['n_kids']+=1
people

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]